
<mat-card class="box-shadow">
  <mat-card-header>
    <mat-card-title>Promjena lozinke</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" #f="ngForm">
     
            <mat-form-field class="example-full-width">
              <input matInput
                     placeholder="Stara lozinka"
                     type="password"
                     name="password1"
                     required>
            </mat-form-field>
            <br />
            <div ngModelGroup="passwordGroup">
              <mat-form-field class="example-full-width">
                <input matInput
                       placeholder="Nova lozinka"
                       type="password"
                       name="password2"
                       required>
              </mat-form-field>
              <br />

              <mat-form-field class="example-full-width">
                <input matInput
                       placeholder=" Potvrda nove lozinke"
                       type="password"
                       name="password3"
                       required>
              </mat-form-field>
              <br />
            </div>
            <button mat-stroked-button [disabled]="!f.valid"  color="primary">Potvrdi</button>
 
            <!--<mat-spinner [diameter]="42" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->

    </form>
  </mat-card-content>

</mat-card>
